html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: red;
    height: 30vh;
    color: white;
    padding: 20px;
}

.profile-box {
    width: 186px; 
    height: 186px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
}

.profile-pic {
    max-width: 160px; 
    max-height: 160px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

header {
    flex-grow: 1;
    text-align: center;
    background: red;
    padding: 20px;
}

main {
    background: green;
    flex: 1;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: purple;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

}/* This is the file for your CSS formatting information. */
